name: CI/CD MLflow
 
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
 
env:
  TRAIN_PATH: "MLProject/NVDA_Stock_Preprocessing/train_set"
  TEST_PATH: "MLProject/NVDA_Stock_Preprocessing/test_set"
  MLFLOW_TRACKING_URI: "file://${{ github.workspace }}/mlruns"
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3
 
      # Setup Python 3.12.3
      - name: Set up Python 3.12.3
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.3"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $TRAIN_PATH
          echo $TEST_PATH
 
      # Install mlflow
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow
          pip install tensorflow
      
      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          python3 MLProject/modelling.py 60 60

      - name: Get latest MLflow run_id
        run: |
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Build Docker Model
        run: |
          mlflow models build-docker --model-uri "runs:/$RUN_ID/lstm_model" --name "nvda_stock_lstm"

      - name: Upload mlruns
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns/

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag nvda_stock_lstm ${{ secrets.DOCKER_HUB_USERNAME }}/nvda_stock_lstm:latest
      
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/nvda_stock_lstm:latest